################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Reservoom/FileContentIndex/237f33db-38c1-4800-a2ce-7605c52b2229.vsidx
/.vs/Reservoom/v17/.wsuo
